body{
  background-color: aliceblue;
}
h1{
 margin-bottom: 10px;
}
.header{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: solid 2px red;
}
button{
  height: 30px;
  width: 90px;
  margin :auto ;
  margin-top:20px ;
  padding: 0px;
  display:block ;
  font-size: 15px;
  border:2px solid black ;
  border-radius: 4px ;
}
h2{
  margin-top: 5px;
  margin-bottom: 5px;
}
.main {
  padding :0px ;
  margin-top: 0px;
}

table {
  height: 400px;
  width:400px ;
  margin:auto ;
  border: 3px solid black;
  border-collapse: collapse;
}
td {
  font-size: 25px;
  height: 30px;
  width: 15px;
  text-align: center;
}

td,tr {
  border: 1px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:nth-child(3n) {
  border-bottom: 3px solid black;
}

.main2 {
  font-size: 25px;
  text-align: center;
}

.ip {
  height: 50px;
  width: 50px;
  font-size: 25px;
  text-align: center;
}

h2 {
  text-align: center;
}

.onfocused {
  background-color: rgb(184, 203, 255);
  color: black;
}

span {
  color: rgb(87, 87, 87);
  position: absolute;
  bottom: 5px;
}
.filled_cell{
  background-color: aqua;
}
.ip:hover{
  color: black;
  background-color:rgb(184, 203, 255);
}
button:hover {
  color: #f1f1f1;
  background-color:#232856;
}
